![Finance Toolkit](https://github.com/JerBouma/FinanceToolkit/assets/46355364/198d47bd-e1b3-492d-acc4-5d9f02d1d009)

The Finance Toolkit can take in any dataset which means it works very well with the software and APIs from any other provider let is be Intrinio, OpenBB, Yahoo Finance, Quandl, etc. For this illustration, I have collected custom statements and have imported them as a CSV file but as you can imagine this would also work with direct API calls. This dataset is obtained from Yahoo Finance, which can be collected via `yfinance`. Note that the `yfinance` library is not part of the Finance Toolkit and needs to be installed separately.

In [1]:
import pandas as pd
from financetoolkit import Toolkit

First, let's read in the custom dataset obtained from Yahoo Finance.

In [2]:
# Balance Sheet Statements
tsla_balance = pd.read_csv('external_datasets/TSLA_balance.csv', index_col=0)
googl_balance = pd.read_csv('external_datasets/GOOGL_balance.csv', index_col=0)

# Income Statements
tsla_income = pd.read_csv('external_datasets/TSLA_income.csv', index_col=0)
googl_income = pd.read_csv('external_datasets/GOOGL_income.csv', index_col=0)

# Cash Flow Statements
tsla_cash = pd.read_csv('external_datasets/TSLA_cash.csv', index_col=0)
googl_cash = pd.read_csv('external_datasets/GOOGL_cash.csv', index_col=0)

# Show one of the datasets
tsla_income

,ttm,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Breakdown,,,,,
Total revenue,9.402800e+10,8.146200e+10,5.382300e+10,3.153600e+10,2.457800e+10
Cost of revenue,7.382500e+10,6.060900e+10,4.021700e+10,2.490600e+10,2.050900e+10
Gross profit,2.020300e+10,2.085300e+10,1.360600e+10,6.630000e+09,4.069000e+09
Research development,3.257000e+09,3.075000e+09,2.593000e+09,1.491000e+09,1.343000e+09
Selling general and administrative,4.260000e+09,3.946000e+09,4.517000e+09,3.145000e+09,2.646000e+09
Total operating expenses,7.517000e+09,7.021000e+09,7.110000e+09,4.636000e+09,3.989000e+09
Operating income or loss,1.268600e+10,1.383200e+10,6.496000e+09,1.994000e+09,8.000000e+07
Interest expense,1.430000e+08,1.910000e+08,3.710000e+08,7.480000e+08,6.850000e+08
Total other income/expenses net,1.190000e+08,-2.190000e+08,1.620000e+08,-1.220000e+08,-1.040000e+08
Income before tax,1.335600e+10,1.371900e+10,6.343000e+09,1.154000e+09,-6.650000e+08
Income tax expense,1.165000e+09,1.132000e+09,6.990000e+08,2.920000e+08,1.100000e+08
Income from continuing operations,1.219100e+10,1.258700e+10,5.644000e+09,8.620000e+08,-7.750000e+08
Net income,1.222200e+10,1.258300e+10,5.519000e+09,6.900000e+08,-8.620000e+08
Net income available to common shareholders,1.223500e+10,1.258300e+10,5.519000e+09,6.900000e+08,-8.620000e+08
Basic average shares,3.160500e+09,3.130000e+09,2.958000e+09,2.799000e+09,2.661000e+09
Diluted average shares,3.477000e+09,3.475000e+09,3.387000e+09,3.249000e+09,2.661000e+09
EBITDA,NaN,1.765700e+10,9.625000e+09,4.224000e+09,2.174000e+09
Basic EPS,3.880000e+00,4.020000e+00,1.870000e+00,2.500000e-01,-3.300000e-01
Diluted EPS,3.510000e+00,3.620000e+00,1.630000e+00,2.100000e-01,-3.300000e-01

Then, it's time to acquire the normalization files via the Toolkit to be used to normalize the results.

In [3]:
Toolkit("TSLA").get_normalization_files()

Files are being saved to /Users/jeroenbouma/Downloads

With this information, by copying over each name as defined by Yahoo Finance for the balance, income and cash flow statements as also defined above, the normalisation files can be filled. The result can be found within the `examples/external_datasets` folder of the project as found [here](https://github.com/JerBouma/FinanceToolkit/tree/main/examples). Now it's time to convert each dataset in the right format.

In [4]:
from financetoolkit.base import helpers

balance_sheets = helpers.combine_dataframes(
    {
        "TSLA": tsla_balance,
        "GOOGL": googl_balance,
    },
)
income_statements = helpers.combine_dataframes(
    {
        "TSLA": tsla_income,
        "GOOGL": googl_income,
    },
)
cash_flow_statements = helpers.combine_dataframes(
    {"TSLA": tsla_cash, "GOOGL": googl_cash},
)

# The TTM column is dropped as it contains only a portion of this year
income_statements = income_statements.drop(columns=["ttm"])
cash_flow_statements = cash_flow_statements.drop(columns=["ttm"])

# Show the Results
balance_sheets

                                                     2022-12-31  \
      Breakdown
GOOGL Cash and cash equivalents                   21879000000.0
      Other short-term investments                91883000000.0
      Total cash                                 113762000000.0
      Net receivables                             40258000000.0
      Inventory                                    2670000000.0
...                                                         ...
TSLA  Common stock                                    3000000.0
      Retained earnings                           12885000000.0
      Accumulated other comprehensive income       -361000000.0
      Total stockholders' equity                  44704000000.0
      Total liabilities and stockholders' equity  82338000000.0

                                                     2021-12-31  \
      Breakdown
GOOGL Cash and cash equivalents                   20945000000.0
      Other short-term investments               118704000000.0
      Total cash                                 139649000000.0
      Net receivables                             39304000000.0
      Inventory                                    1170000000.0
...                                                         ...
TSLA  Common stock                                    1000000.0
      Retained earnings                             331000000.0
      Accumulated other comprehensive income         54000000.0
      Total stockholders' equity                  30189000000.0
      Total liabilities and stockholders' equity  62131000000.0

                                                     2020-12-31     2019-12-31
      Breakdown
GOOGL Cash and cash equivalents                   26465000000.0  18498000000.0
      Other short-term investments               110229000000.0 101177000000.0
      Total cash                                 136694000000.0 119675000000.0
      Net receivables                             30930000000.0  25326000000.0
      Inventory                                     728000000.0    999000000.0
...                                                         ...            ...
TSLA  Common stock                                    1000000.0            0.0
      Retained earnings                           -5399000000.0  -6083000000.0
      Accumulated other comprehensive income        363000000.0    -36000000.0
      Total stockholders' equity                  22225000000.0   6618000000.0
      Total liabilities and stockholders' equity  52148000000.0  34309000000.0

[65 rows x 4 columns]

With this done, it's now time to initialize the Toolkit and start using the Finance Toolkit with these custom datasets. By looking at the Balance Sheet Statement you can see that the column names have changed to the normalisation files.

**Note:** It is important to always ensure that dates go from left to right. For example this dataset starts at 2022 and ends at 2019. This should be reversed to accommodate shifting the DataFrames accordingly throughout the Toolkit. E.g. for growth metrics or specific ratios that require current and past values.

In [5]:
# initialize the Toolkit
companies = Toolkit(
    tickers=["TSLA", "GOOGL"],
    balance=balance_sheets,
    income=income_statements,
    cash=cash_flow_statements,
    format_location="external_datasets",
    reverse_dates=True, # Important when the dates are descending
) 

# Show the Balance Sheet
companies.get_balance_sheet_statement()

                                                         2019           2020  \
      Breakdown
GOOGL Cash and Cash Equivalents                 18498000000.0  26465000000.0
      Short Term Investments                   101177000000.0 110229000000.0
      Cash and Short Term Investments          119675000000.0 136694000000.0
      Accounts Receivable                       25326000000.0  30930000000.0
      Inventory                                   999000000.0    728000000.0
      Other Current Assets                       4412000000.0   5490000000.0
      Total Current Assets                     152578000000.0 174296000000.0
      Long Term Investments                     13078000000.0  20703000000.0
      Goodwill                                  20624000000.0  21175000000.0
      Intangible Assets                          1979000000.0   1445000000.0
      Other Fixed Assets                         2342000000.0   3953000000.0
      Fixed Assets                             123331000000.0 145320000000.0
      Total Assets                             275909000000.0 319616000000.0
      Accounts Payable                           5561000000.0   5589000000.0
      Tax Payables                                274000000.0   1485000000.0
      Deferred Revenue                           1908000000.0   2543000000.0
      Deferred Revenue                            358000000.0    481000000.0
      Other Current Liabilities                  9405000000.0  10409000000.0
      Total Current Liabilities                 45221000000.0  56834000000.0
      Long Term Debt                             4554000000.0  13932000000.0
      Deferred Tax Liabilities                   1701000000.0   3561000000.0
      Other Non Current Liabilities              2534000000.0   2269000000.0
      Total Non Current Liabilities             29246000000.0  40238000000.0
      Total Liabilities                         74467000000.0  97072000000.0
      Common Stock                              50552000000.0  58510000000.0
      Retained Earnings                        152122000000.0 163401000000.0
      Accumulated Other Comprehensive Income    -1232000000.0    633000000.0
      Total Equity                             201442000000.0 222544000000.0
      Total Liabilities and Shareholder Equity 275909000000.0 319616000000.0
TSLA  Cash and Cash Equivalents                  6268000000.0  19384000000.0
      Short Term Investments                              NaN            NaN
      Cash and Short Term Investments            6268000000.0  19384000000.0
      Accounts Receivable                        1324000000.0   1886000000.0
      Inventory                                  3552000000.0   4101000000.0
      Other Current Assets                                NaN            NaN
      Total Current Assets                      12103000000.0  26717000000.0
      Goodwill                                    198000000.0    207000000.0
      Intangible Assets                           339000000.0    313000000.0
      Other Fixed Assets                         1077000000.0   1536000000.0
      Fixed Assets                              22206000000.0  25431000000.0
      Total Assets                              34309000000.0  52148000000.0
      Accounts Payable                           3771000000.0   6051000000.0
      Deferred Revenue                           1889000000.0   2210000000.0
      Deferred Revenue                           1207000000.0   1284000000.0
      Other Current Liabilities                   317000000.0    241000000.0
      Total Current Liabilities                 10667000000.0  14248000000.0
      Long Term Debt                            11634000000.0   9607000000.0
      Deferred Tax Liabilities                            NaN    151000000.0
      Other Non Current Liabilities              2691000000.0   3330000000.0
      Total Non Current Liabilities             15532000000.0  14221000000.0
      Total Liabilities                         26199000000.0  28469000000.0
      Common Stock                                        0.0      1000000.0
      Retained Earnings                         -6083000000.0  -5399000000.0
      Accumulated Other Comprehensive Income      -36000000.0    363000000.0
      Total Equity                               6618000000.0  22225000000.0
      Total Liabilities and Shareholder Equity  34309000000.0  52148000000.0
      Short Term Debt                            1785000000.0   2132000000.0

                                                         2021           2022
      Breakdown
GOOGL Cash and Cash Equivalents                 20945000000.0  21879000000.0
      Short Term Investments                   118704000000.0  91883000000.0
      Cash and Short Term Investments          139649000000.0 113762000000.0
      Accounts Receivable                       39304000000.0  40258000000.0
      Inventory                                  1170000000.0   2670000000.0
      Other Current Assets                       7054000000.0   8105000000.0
      Total Current Assets                     188143000000.0 164795000000.0
      Long Term Investments                     29549000000.0  30492000000.0
      Goodwill                                  22956000000.0  28960000000.0
      Intangible Assets                          1417000000.0   2084000000.0
      Other Fixed Assets                         5361000000.0   6623000000.0
      Fixed Assets                             171125000000.0 200469000000.0
      Total Assets                             359268000000.0 365264000000.0
      Accounts Payable                           6037000000.0   5128000000.0
      Tax Payables                                808000000.0            NaN
      Deferred Revenue                           3288000000.0   3908000000.0
      Deferred Revenue                            535000000.0    599000000.0
      Other Current Liabilities                  9799000000.0   9106000000.0
      Total Current Liabilities                 64254000000.0  69300000000.0
      Long Term Debt                            14817000000.0  14701000000.0
      Deferred Tax Liabilities                   5257000000.0    514000000.0
      Other Non Current Liabilities              2205000000.0   2247000000.0
      Total Non Current Liabilities             43379000000.0  39820000000.0
      Total Liabilities                        107633000000.0 109120000000.0
      Common Stock                              61774000000.0  68184000000.0
      Retained Earnings                        191484000000.0 195563000000.0
      Accumulated Other Comprehensive Income    -1623000000.0  -7603000000.0
      Total Equity                             251635000000.0 256144000000.0
      Total Liabilities and Shareholder Equity 359268000000.0 365264000000.0
TSLA  Cash and Cash Equivalents                 17576000000.0  22185000000.0
      Short Term Investments                      131000000.0   5932000000.0
      Cash and Short Term Investments           17707000000.0  22185000000.0
      Accounts Receivable                        1913000000.0   2952000000.0
      Inventory                                  5757000000.0  12839000000.0
      Other Current Assets                                NaN   2941000000.0
      Total Current Assets                      27100000000.0  40917000000.0
      Goodwill                                    200000000.0    194000000.0
      Intangible Assets                          1717000000.0    593000000.0
      Other Fixed Assets                         2138000000.0   4193000000.0
      Fixed Assets                              35031000000.0  41421000000.0
      Total Assets                              62131000000.0  82338000000.0
      Accounts Payable                          10025000000.0  15255000000.0
      Deferred Revenue                           2372000000.0   2810000000.0
      Deferred Revenue                           2052000000.0   2804000000.0
      Other Current Liabilities                   294000000.0    354000000.0
      Total Current Liabilities                 19705000000.0  26709000000.0
      Long Term Debt                             5245000000.0   1597000000.0
      Deferred Tax Liabilities                     24000000.0     82000000.0
      Other Non Current Liabilities              3546000000.0   5330000000.0
      Total Non Current Liabilities             10843000000.0   9731000000.0
      Total Liabilities                         30548000000.0  36440000000.0
      Common Stock                                  1000000.0      3000000.0
      Retained Earnings                           331000000.0  12885000000.0
      Accumulated Other Comprehensive Income       54000000.0   -361000000.0
      Total Equity                              30189000000.0  44704000000.0
      Total Liabilities and Shareholder Equity  62131000000.0  82338000000.0
      Short Term Debt                            1589000000.0   1502000000.0

With this, it is now possible to do ratio calculations on these custom datasets. Let's have a look at the output of the extended Dupont model.

In [6]:
companies.models.get_extended_dupont_analysis()

                                 2019   2020   2021   2022
GOOGL Interest Burden Ratio    0.9067 0.8574 0.8675 1.0493
      Tax Burden Ratio         0.9559 0.9768 0.9659 0.8013
      Operating Profit Margin  0.2448 0.2634 0.3522 0.2522
      Asset Turnover              NaN  0.613  0.759 0.7807
      Equity Multiplier           NaN 1.4046 1.4317 1.4269
      Return on Equity            NaN   0.19 0.3207 0.2362
TSLA  Interest Burden Ratio   -0.1203 1.7279 1.0241 1.0082
      Tax Burden Ratio        -10.775  0.346 0.8496 0.9097
      Operating Profit Margin -0.0271 0.0366 0.1178 0.1684
      Asset Turnover              NaN 0.7295  0.942 1.1277
      Equity Multiplier           NaN 2.9975 2.1803  1.929
      Return on Equity            NaN 0.0478 0.2106  0.336

This can also be extended into the area of efficiency ratios.

In [7]:
companies.ratios.collect_efficiency_ratios()

                                                   2019    2020     2021  \
GOOGL Days of Inventory Outstanding (DIO)           NaN  3.7197   3.1223
      Days of Sales Outstanding (DSO)               NaN 56.2477   49.751
      Operating Cycle (CC)                          NaN 59.9674  52.8733
      Days of Accounts Payable Outstanding (DPO)    NaN 24.0154  19.1253
      Cash Conversion Cycle (CCC)                   NaN  35.952   33.748
      Receivables Turnover                          NaN  0.1541   0.1363
      Inventory Turnover Ratio                      NaN 98.1262 116.9009
      Accounts Payable Turnover Ratio               NaN 15.1986  19.0846
      SGA-to-Revenue Ratio                       0.1731  0.1589   0.1414
      Fixed Asset Turnover                          NaN  1.3588   1.6283
      Asset Turnover Ratio                          NaN   0.613    0.759
      Operating Ratio                             0.778  0.7741   0.6945
TSLA  Days of Inventory Outstanding (DIO)           NaN 56.0778  44.7344
      Days of Sales Outstanding (DSO)               NaN 18.5764  12.8814
      Operating Cycle (CC)                          NaN 74.6541  57.6159
      Days of Accounts Payable Outstanding (DPO)    NaN 71.9712   72.951
      Cash Conversion Cycle (CCC)                   NaN  2.6829 -15.3351
      Receivables Turnover                          NaN  0.0509   0.0353
      Inventory Turnover Ratio                      NaN  6.5088   8.1593
      Accounts Payable Turnover Ratio               NaN  5.0715   5.0034
      SGA-to-Revenue Ratio                       0.1077  0.0997   0.0839
      Fixed Asset Turnover                          NaN   1.324   1.7804
      Asset Turnover Ratio                          NaN  0.7295    0.942
      Operating Ratio                            0.9967  0.9368   0.8793

                                                    2022
GOOGL Days of Inventory Outstanding (DIO)          5.553
      Days of Sales Outstanding (DSO)            51.3374
      Operating Cycle (CC)                       56.8904
      Days of Accounts Payable Outstanding (DPO) 16.1455
      Cash Conversion Cycle (CCC)                40.7448
      Receivables Turnover                        0.1407
      Inventory Turnover Ratio                   65.7307
      Accounts Payable Turnover Ratio            22.6069
      SGA-to-Revenue Ratio                        0.1495
      Fixed Asset Turnover                        1.5223
      Asset Turnover Ratio                        0.7807
      Operating Ratio                             0.7354
TSLA  Days of Inventory Outstanding (DIO)        55.9945
      Days of Sales Outstanding (DSO)            10.8991
      Operating Cycle (CC)                       66.8936
      Days of Accounts Payable Outstanding (DPO) 76.1207
      Cash Conversion Cycle (CCC)                -9.2271
      Receivables Turnover                        0.0299
      Inventory Turnover Ratio                    6.5185
      Accounts Payable Turnover Ratio              4.795
      SGA-to-Revenue Ratio                        0.0484
      Fixed Asset Turnover                        2.1311
      Asset Turnover Ratio                        1.1277
      Operating Ratio                             0.8302

Optional parameters can also be used, as an example to see the growth of each item in the financial statement.

In [8]:
companies.get_balance_sheet_statement(growth=True)

                                                2019     2020    2021    2022
      Breakdown
GOOGL Cash and Cash Equivalents                  NaN   0.4307 -0.2086  0.0446
      Short Term Investments                     NaN   0.0895  0.0769 -0.2259
      Cash and Short Term Investments            NaN   0.1422  0.0216 -0.1854
      Accounts Receivable                        NaN   0.2213  0.2707  0.0243
      Inventory                                  NaN  -0.2713  0.6071  1.2821
      Other Current Assets                       NaN   0.2443  0.2849   0.149
      Total Current Assets                       NaN   0.1423  0.0794 -0.1241
      Long Term Investments                      NaN    0.583  0.4273  0.0319
      Goodwill                                   NaN   0.0267  0.0841  0.2615
      Intangible Assets                          NaN  -0.2698 -0.0194  0.4707
      Other Fixed Assets                         NaN   0.6879  0.3562  0.2354
      Fixed Assets                               NaN   0.1783  0.1776  0.1715
      Total Assets                               NaN   0.1584  0.1241  0.0167
      Accounts Payable                           NaN    0.005  0.0802 -0.1506
      Tax Payables                               NaN   4.4197 -0.4559     0.0
      Deferred Revenue                           NaN   0.3328   0.293  0.1886
      Deferred Revenue                           NaN   0.3436  0.1123  0.1196
      Other Current Liabilities                  NaN   0.1068 -0.0586 -0.0707
      Total Current Liabilities                  NaN   0.2568  0.1306  0.0785
      Long Term Debt                             NaN   2.0593  0.0635 -0.0078
      Deferred Tax Liabilities                   NaN   1.0935  0.4763 -0.9022
      Other Non Current Liabilities              NaN  -0.1046 -0.0282   0.019
      Total Non Current Liabilities              NaN   0.3758  0.0781  -0.082
      Total Liabilities                          NaN   0.3036  0.1088  0.0138
      Common Stock                               NaN   0.1574  0.0558  0.1038
      Retained Earnings                          NaN   0.0741  0.1719  0.0213
      Accumulated Other Comprehensive Income     NaN  -1.5138  -3.564  3.6845
      Total Equity                               NaN   0.1048  0.1307  0.0179
      Total Liabilities and Shareholder Equity   NaN   0.1584  0.1241  0.0167
TSLA  Cash and Cash Equivalents                  NaN   2.0925 -0.0933  0.2622
      Short Term Investments                     NaN      NaN     NaN 44.2824
      Cash and Short Term Investments            NaN   2.0925 -0.0865  0.2529
      Accounts Receivable                        NaN   0.4245  0.0143  0.5431
      Inventory                                  NaN   0.1546  0.4038  1.2302
      Other Current Assets                       NaN      NaN     NaN     NaN
      Total Current Assets                       NaN   1.2075  0.0143  0.5099
      Goodwill                                   NaN   0.0455 -0.0338   -0.03
      Intangible Assets                          NaN  -0.0767  4.4856 -0.6546
      Other Fixed Assets                         NaN   0.4262  0.3919  0.9612
      Fixed Assets                               NaN   0.1452  0.3775  0.1824
      Total Assets                               NaN     0.52  0.1914  0.3252
      Accounts Payable                           NaN   0.6046  0.6568  0.5217
      Deferred Revenue                           NaN   0.1699  0.0733  0.1847
      Deferred Revenue                           NaN   0.0638  0.5981  0.3665
      Other Current Liabilities                  NaN  -0.2397  0.2199  0.2041
      Total Current Liabilities                  NaN   0.3357   0.383  0.3554
      Long Term Debt                             NaN  -0.1742  -0.454 -0.6955
      Deferred Tax Liabilities                   NaN      NaN -0.8411  2.4167
      Other Non Current Liabilities              NaN   0.2375  0.0649  0.5031
      Total Non Current Liabilities              NaN  -0.0844 -0.2375 -0.1026
      Total Liabilities                          NaN   0.0866   0.073  0.1929
      Common Stock                               NaN      inf     0.0     2.0
      Retained Earnings                          NaN  -0.1124 -1.0613 37.9275
      Accumulated Other Comprehensive Income     NaN -11.0833 -0.8512 -7.6852
      Total Equity                               NaN   2.3583  0.3583  0.4808
      Total Liabilities and Shareholder Equity   NaN     0.52  0.1914  0.3252
      Short Term Debt                            NaN   0.1944 -0.2547 -0.0548

And lastly, the historical data can be viewed.

In [9]:
companies.get_historical_data()

            Adj Close                 Close             Cumulative Return  \
                GOOGL       TSLA      GOOGL       TSLA              GOOGL
Date
2014-01-02  27.855856  10.006667  27.855856  10.006667                1.0
2014-01-03  27.652653   9.970667  27.652653   9.970667  0.992705196350814
2014-01-06   27.96096        9.8   27.96096        9.8 1.0037731384022088
2014-01-07       28.5   9.957333       28.5   9.957333 1.0231241861675333
2014-01-08  28.559309  10.085333  28.559309  10.085333  1.025253325548495
...               ...        ...        ...        ...                ...
2023-08-17 129.919998 219.220001 129.919998 219.220001  4.664010253355704
2023-08-18 127.459999 215.490005 127.459999 215.490005  4.575698517396127
2023-08-21 128.369995 231.279999 128.369995 231.279999  4.608366549568608
2023-08-22 129.080002 233.190002 129.080002 233.190002  4.633855157780828
2023-08-23 132.369995 236.860001 132.369995 236.860001  4.751962926574578

                              Dividends            High                   Low  \
                         TSLA     GOOGL TSLA      GOOGL       TSLA      GOOGL
Date
2014-01-02                1.0         0    0  27.971722  10.165333  27.734234
2014-01-03 0.9964023985209062         0    0    27.9512     10.146  27.650902
2014-01-06 0.9793470693088918         0    0  27.999498  10.026667  27.688688
2014-01-07 0.9950698869063995         0    0  28.520771  10.026667  28.057056
2014-01-08 1.0078613588320666         0    0  28.711712  10.246667  28.360611
...                       ...       ...  ...        ...        ...        ...
2023-08-17 21.907394440126698         0    0 131.990005 226.740005 129.289993
2023-08-18   21.5346433532763         0    0     129.25 217.580002 126.379997
2023-08-21 23.112590735756395         0    0 128.729996 232.130005 126.559998
2023-08-22  23.30346378069733         0    0 130.279999 240.820007 128.320007
2023-08-23 23.670219164882695         0    0 133.410004 238.979996 129.869995

                            Open                           Return  \
                 TSLA      GOOGL       TSLA                 GOOGL
Date
2014-01-02       9.77  27.914413   9.986667                   0.0
2014-01-03   9.906667  27.902903       10.0 -0.007294803649185999
2014-01-06   9.682667  27.853104       10.0  0.011149273814704097
2014-01-07   9.683333  28.153152   9.841333  0.019278308040925562
2014-01-08   9.917333  28.678679   9.923333  0.002081017543859698
...               ...        ...        ...                   ...
2023-08-17 218.830002 129.800003 226.059998  0.009479417470382723
2023-08-18 212.360001 128.509995 214.119995  -0.01893472165847787
2023-08-21 220.580002     127.18 221.550003  0.007139463417067837
2023-08-22 229.550003 128.509995     240.25  0.005530942024263741
2023-08-23 229.289993 130.179993 229.339996   0.02548801478946361

                                           Volatility                     \
                            TSLA                GOOGL               TSLA
Date
2014-01-02                   0.0 0.017582592520997916 0.0352284638381636
2014-01-03 -0.003597601479093826 0.017582592520997916 0.0352284638381636
2014-01-06 -0.017116909029255556 0.017582592520997916 0.0352284638381636
2014-01-07   0.01605438775510204 0.017582592520997916 0.0352284638381636
2014-01-08  0.012854847779018685 0.017582592520997916 0.0352284638381636
...                          ...                  ...                ...
2023-08-17   -0.0282801632549603 0.017582592520997916 0.0352284638381636
2023-08-18 -0.017014852581813456 0.017582592520997916 0.0352284638381636
2023-08-21   0.07327483239883903 0.017582592520997916 0.0352284638381636
2023-08-22   0.00825840110800069 0.017582592520997916 0.0352284638381636
2023-08-23   0.01573823478075198 0.017582592520997916 0.0352284638381636

               Volume
                GOOGL       TSLA
Date
2014-01-02   72783144   92826000
2014-01-03   66601332   70425000
2014-01-06   70701228   80416500
2014-01-07  102001896   75511500
2014-01-08   89610300   92448000
...               ...        ...
2023-08-17   33446300  120718400
2023-08-18   30491300  135813700
2023-08-21   25248700  135702700
2023-08-22   22067500  130597900
2023-08-23   27750900  100479700

[2427 rows x 20 columns]

Note that it is possible that your dataset doesn't cover all financial statement items if your normalization files are incomplete. This will become apparent when some ratios can not be calculated.

In [10]:
# Missing column returns an empty series
display(companies.ratios.get_debt_to_assets_ratio())

# Missing column skips the ratio in the total overview
display(companies.ratios.collect_profitability_ratios())

There is an index name missing in the provided financial statements. This is 'Total Debt'. This is required for the function (get_debt_to_assets_ratio) to run. Please fill this column to be able to calculate the ratios.

Series([], dtype: object)

There is an index name missing in the provided financial statements. This is 'Depreciation and Amortization'. This is required for the function (get_interest_coverage_ratio) to run. Please fill this column to be able to calculate the ratios.
There is an index name missing in the provided financial statements. This is 'Dividends Paid'. This is required for the function (get_return_on_invested_capital) to run. Please fill this column to be able to calculate the ratios.

                                                     2019   2020   2021   2022
GOOGL Gross Margin                                 0.5558 0.5358 0.5694 0.5538
      Operating Margin                              0.222 0.2259 0.3055 0.2646
      Net Profit Margin                            0.2122 0.2206 0.2951  0.212
      Income Before Tax Profit Margin              0.2448 0.2634 0.3522 0.2522
      Effective Tax Rate                           0.1333 0.1625  0.162 0.1592
      Return on Assets (ROA)                       0.1245  0.126 0.2116 0.1642
      Return on Equity (ROE)                          NaN   0.19 0.3207 0.2362
      Return on Capital Employed (ROCE)            0.1722 0.1835 0.3087 0.2422
      Return on Tangible Assets                    0.1722 0.1821 0.3039 0.2361
      Income Quality Ratio                         1.5875 1.6172 1.2054 1.5256
      Net Income per EBT                           0.8667 0.8375  0.838 0.8408
      Free Cash Flow to Operating Cash Flow Ratio  0.5681 0.6579 0.7312 0.6559
      EBT to EBIT Ratio                            0.9975 0.9972 0.9962  0.995
      EBIT to Revenue                              0.2454 0.2642 0.3535 0.2535
TSLA  Gross Margin                                 0.1656 0.2102 0.2528  0.256
      Operating Margin                             0.0033 0.0632 0.1207 0.1698
      Net Profit Margin                           -0.0351 0.0219 0.1025 0.1545
      Income Before Tax Profit Margin             -0.0271 0.0366 0.1178 0.1684
      Effective Tax Rate                          -0.1654  0.253 0.1102 0.0825
      Return on Assets (ROA)                      -0.0251 0.0132 0.0888 0.1528
      Return on Equity (ROE)                          NaN 0.0478 0.2106  0.336
      Return on Capital Employed (ROCE)           -0.0028 0.0456 0.1553   0.25
      Return on Tangible Assets                   -0.1109 0.0295 0.1848 0.2777
      Income Quality Ratio                          -2.79  8.613 2.0832 1.1702
      Net Income per EBT                           1.1463 0.7026 0.8876 0.9175
      Free Cash Flow to Operating Cash Flow Ratio  0.4025 0.4545 0.3029 0.5129
      EBT to EBIT Ratio                           11.2239 0.5676 0.9437 0.9863
      EBIT to Revenue                             -0.0027 0.0549 0.1224 0.1707